<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>placeHolderText</key>
		<string>First Name</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>1</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>user_icon</string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>validationType</key>
		<integer>6</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Last Name</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>1</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>user_icon</string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>validationType</key>
		<integer>6</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Gender</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectGender</string>
		<key>imageName</key>
		<string>edit-pro-gender_icon_white</string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>4</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>College Name</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectSchool</string>
		<key>imageName</key>
		<string>school_icon</string>
		<key>text</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>validationType</key>
		<integer>7</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>College Email</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>7</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>mail_icon</string>
		<key>text</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>validationType</key>
		<integer>1</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Phone Number</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>5</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>phone_icon</string>
		<key>text</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>validationType</key>
		<integer>5</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Graduation Year</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectGraduationYear</string>
		<key>imageName</key>
		<string>graduation_icon</string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>4</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Student Org (optional)</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>1</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>school_icon</string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>How did you find us?</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectHearingSource</string>
		<key>imageName</key>
		<string>hear_image</string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>4</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Password</string>
		<key>isSecured</key>
		<true/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>password_icon</string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>8</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Confirm Password</string>
		<key>isSecured</key>
		<true/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>password_icon</string>
		<key>cellIdentifier</key>
		<string>SignUpTableViewCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>2</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>continue_btn</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>continue_btn</string>
		<key>text</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>SignUpCountinueCell</string>
		<key>validationType</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>signup_rider_btn</string>
		<key>text</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>SignUpCountinueCell</string>
		<key>validationType</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>signup_driver_btn</string>
		<key>text</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>SignUpDriverCell</string>
		<key>validationType</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
