<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>placeHolderText</key>
		<string>Bank Name</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>1</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Name on Account</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>1</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Account Number</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>4</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Routing Number</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>4</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Personal Id Number</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>4</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>SSN (Last 4 digits)</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>4</integer>
		<key>CFBundleIdentifier</key>
		<string></string>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Address</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>1</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>State</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectState</string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>City</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectCity</string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Postal Code</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>1</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Date Of Birth</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectDOB</string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Payment</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectPayment</string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Select Payment Type</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>DetailCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>1</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>save_btn</string>
		<key>cellIdentifier</key>
		<string>SingleActionButtonCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
