<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>placeHolderText</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>EditProfileCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Date of Birth</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectDOB</string>
		<key>imageName</key>
		<string>edit-pro-birth_date_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Gender</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectGender</string>
		<key>imageName</key>
		<string>edit-pro-gender_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Phone Number</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>5</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>edit-pro-phone_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>0</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>State</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectState</string>
		<key>imageName</key>
		<string>edit-pro-state_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>City</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectCity</string>
		<key>imageName</key>
		<string>edit-pro-city_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Zip</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>5</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>edit-pro-zip_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>College Name</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectSchool</string>
		<key>imageName</key>
		<string>edit-pro-school_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>7</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Student Org (optional)</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>1</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>edit-pro-student_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Graduation Year</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectGraduationYear</string>
		<key>imageName</key>
		<string>edit-pro-graduation_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>4</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Vehicle Information</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>edit-pro-license_icon</string>
		<key>cellIdentifier</key>
		<string>ProfileHeadingCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>6</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Vehicle Type</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectVehicleType</string>
		<key>imageName</key>
		<string>edit-pro-vehicle_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>4</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>License Plate No.</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>vin_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>3</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Make</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectMake</string>
		<key>imageName</key>
		<string>make_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>6</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Model</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectModel</string>
		<key>imageName</key>
		<string>model_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>6</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string>Year</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<true/>
		<key>customActionName</key>
		<string>selectCarModelYear</string>
		<key>imageName</key>
		<string>year_icon</string>
		<key>cellIdentifier</key>
		<string>EditProfileLabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>6</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>placeHolderText</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>SaveChangesCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
