<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>selectedImage</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>checkboxes</key>
		<array/>
		<key>placeHolderText</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>OffersDetailCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
		<key>address</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ratings</string>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>selectedImage</key>
		<string></string>
		<key>checkboxes</key>
		<array/>
		<key>placeHolderText</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>RatingDetailsCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
		<key>address</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Origin</string>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>selectedImage</key>
		<string></string>
		<key>checkboxes</key>
		<array/>
		<key>placeHolderText</key>
		<string>American</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>LabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>checkboxes</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>text</key>
				<string>Morning</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>text</key>
				<string>Afternoon</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>text</key>
				<string>Night</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>text</key>
				<string>All Day</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>selectedImage</key>
		<string></string>
		<key>title</key>
		<string>Destination</string>
		<key>placeHolderText</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>LabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Date</string>
		<key>selectedImage</key>
		<string></string>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>checkboxes</key>
		<array/>
		<key>placeHolderText</key>
		<string>18/06/2017</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>LabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>checkboxes</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>text</key>
				<string>Morning</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>text</key>
				<string>Afternoon</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>text</key>
				<string>Night</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>text</key>
				<string>All Day</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>Time Of Day</string>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string>Available</string>
				<key>circleImage</key>
				<string>edit-pro-friends_listing_counter</string>
				<key>backgroundImage</key>
				<string>badge_bg</string>
			</dict>
		</array>
		<key>selectedImage</key>
		<string></string>
		<key>placeHolderText</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>MultipleCheckboxCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Individual Cost</string>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>selectedImage</key>
		<string></string>
		<key>checkboxes</key>
		<array/>
		<key>placeHolderText</key>
		<string>$350</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>LabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Total Miles</string>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>selectedImage</key>
		<string></string>
		<key>checkboxes</key>
		<array/>
		<key>placeHolderText</key>
		<string>16 km</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>LabelCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>selectedImage</key>
		<string></string>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string>Available</string>
				<key>circleImage</key>
				<string>edit-pro-friends_listing_counter</string>
				<key>backgroundImage</key>
				<string>badge_bg</string>
			</dict>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>title</key>
		<string>Seats</string>
		<key>checkboxes</key>
		<array/>
		<key>placeHolderText</key>
		<string>No estimate availble</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>SeatsCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Make/Model/Year</string>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>selectedImage</key>
		<string></string>
		<key>checkboxes</key>
		<array/>
		<key>placeHolderText</key>
		<string>MM/DD/YEAR</string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>make_model_year_icon</string>
		<key>cellIdentifier</key>
		<string>DateButtonCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string></string>
		<key>conditions</key>
		<array>
			<dict>
				<key>text</key>
				<string></string>
				<key>circleImage</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
			</dict>
		</array>
		<key>selectedImage</key>
		<string>add_friends_btn</string>
		<key>checkboxes</key>
		<array/>
		<key>placeHolderText</key>
		<string></string>
		<key>isSecured</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>hasCustomAction</key>
		<false/>
		<key>customActionName</key>
		<string></string>
		<key>imageName</key>
		<string>continue_btn_post_trip</string>
		<key>cellIdentifier</key>
		<string>ActionDetailsCell</string>
		<key>text</key>
		<string></string>
		<key>validationType</key>
		<integer>99</integer>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
